.btn {
  border-width: 2px;
}
img,
.card-wrap,
.card-wrapper,
.video-wrapper,
.mbr-figure iframe,
.google-map iframe,
.slide-content,
.plan,
.card,
.item-wrapper {
  border-radius: 2rem !important;
}
.video-wrapper {
  overflow: hidden;
}
body {
  font-family: Rethink Sans;
}
.display-1 {
  font-family: 'Saira Condensed', sans-serif;
  font-size: 7.5rem;
  line-height: 1.1;
  letter-spacing: -0.02em;
}
.display-1 > .mbr-iconfont {
  font-size: 9.375rem;
}
.display-2 {
  font-family: 'Saira Condensed', sans-serif;
  font-size: 3.54rem;
  line-height: 1.1;
  letter-spacing: -0.02em;
}
.display-2 > .mbr-iconfont {
  font-size: 4.425rem;
}
.display-4 {
  font-family: 'Inter', sans-serif;
  font-size: 1.08rem;
  line-height: 2;
}
.display-4 > .mbr-iconfont {
  font-size: 1.35rem;
}
.display-5 {
  font-family: 'Saira Condensed', sans-serif;
  font-size: 2.1rem;
  line-height: 1.15;
}
.display-5 > .mbr-iconfont {
  font-size: 2.625rem;
}
.display-7 {
  font-family: 'Inter', sans-serif;
  font-size: 1.2rem;
  line-height: 1.3;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 6rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 5.25rem;
    font-size: calc( 3.2749999999999995rem + (7.5 - 3.2749999999999995) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (3.2749999999999995rem + (7.5 - 3.2749999999999995) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.832rem;
    font-size: calc( 1.889rem + (3.54 - 1.889) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.889rem + (3.54 - 1.889) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.864rem;
    font-size: calc( 1.028rem + (1.08 - 1.028) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.028rem + (1.08 - 1.028) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.68rem;
    font-size: calc( 1.385rem + (2.1 - 1.385) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.385rem + (2.1 - 1.385) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1.25rem 2rem;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .btn {
    padding: 0.75rem 1.5rem;
  }
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1.25rem 2rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #e01b24 !important;
}
.bg-success {
  background-color: #44cc44 !important;
}
.bg-info {
  background-color: #ffffff !important;
}
.bg-warning {
  background-color: #7343ad !important;
}
.bg-danger {
  background-color: #ff8055 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #e01b24 !important;
  border-color: #e01b24 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: inherit;
  background-color: #e9454d !important;
  border-color: #e9454d !important;
  box-shadow: none;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #e9454d !important;
  border-color: #e9454d !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #000509 !important;
  border-color: #000509 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: inherit;
  background-color: #00213c !important;
  border-color: #00213c !important;
  box-shadow: none;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #00213c !important;
  border-color: #00213c !important;
}
.btn-info,
.btn-info:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
  box-shadow: none;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: inherit;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  box-shadow: none;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-success,
.btn-success:active {
  background-color: #44cc44 !important;
  border-color: #44cc44 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: inherit;
  background-color: #6cd76c !important;
  border-color: #6cd76c !important;
  box-shadow: none;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #6cd76c !important;
  border-color: #6cd76c !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #7343ad !important;
  border-color: #7343ad !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: inherit;
  background-color: #8d61c2 !important;
  border-color: #8d61c2 !important;
  box-shadow: none;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #8d61c2 !important;
  border-color: #8d61c2 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff8055 !important;
  border-color: #ff8055 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: inherit;
  background-color: #ffa688 !important;
  border-color: #ffa688 !important;
  box-shadow: none;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ffa688 !important;
  border-color: #ffa688 !important;
}
.btn-white,
.btn-white:active {
  background-color: #eff0ec !important;
  border-color: #eff0ec !important;
  color: #757b62 !important;
  box-shadow: none;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: inherit;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  box-shadow: none;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #757b62 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: inherit;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
  box-shadow: none;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #e01b24;
  color: #e01b24;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #931218 !important;
  background-color: transparent !important;
  border-color: #931218 !important;
  box-shadow: none !important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #e01b24 !important;
  border-color: #e01b24 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #000509;
  color: #000509;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: #000000 !important;
  box-shadow: none !important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #000509 !important;
  border-color: #000509 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #d4d4d4 !important;
  background-color: transparent !important;
  border-color: #d4d4d4 !important;
  box-shadow: none !important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #44cc44;
  color: #44cc44;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #289228 !important;
  background-color: transparent !important;
  border-color: #289228 !important;
  box-shadow: none !important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #44cc44 !important;
  border-color: #44cc44 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #7343ad;
  color: #7343ad;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #492b6f !important;
  background-color: transparent !important;
  border-color: #492b6f !important;
  box-shadow: none !important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #7343ad !important;
  border-color: #7343ad !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #ff8055;
  color: #ff8055;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #fd4000 !important;
  background-color: transparent !important;
  border-color: #fd4000 !important;
  box-shadow: none !important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff8055 !important;
  border-color: #ff8055 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: #000000 !important;
  box-shadow: none !important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent !important;
  border-color: #cfcfcf !important;
  box-shadow: none !important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #e01b24 !important;
}
.text-secondary {
  color: #000509 !important;
}
.text-success {
  color: #44cc44 !important;
}
.text-info {
  color: #ffffff !important;
}
.text-warning {
  color: #7343ad !important;
}
.text-danger {
  color: #ff8055 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #851015 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #000000 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #248624 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #cccccc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #422763 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ee3c00 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #e01b24;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #ffffff;
}
.alert-warning {
  background-color: #7343ad;
}
.alert-danger {
  background-color: #ff8055;
}
.mbr-section-btn .btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #e01b24;
  border-color: #e01b24;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #e01b24;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #f9ced0;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #e4f8e4;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #b598d7;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Inter', sans-serif;
  font-size: 1.2rem;
  line-height: 1.3;
  font-weight: 400;
  border-radius: 100px !important;
}
.form-control > .mbr-iconfont {
  font-size: 1.5rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #e01b24 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Inter', sans-serif;
  font-size: 1.2rem;
  line-height: 1.3;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.5rem;
}
blockquote {
  border-color: #e01b24;
}
/* Forms */
.mbr-form .input-group-btn .btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn .btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #e01b24;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #e01b24;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #232323;
  border-bottom-color: #232323;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #e01b24;
  border-bottom-color: #e01b24;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #e01b24 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #000509 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23e01b24' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.mbr-section-btn,
.mbr-section-btn-main {
  width: 100%;
}
.mbr-section-btn .btn,
.mbr-section-btn-main .btn {
  padding: 18px 40px;
  border-radius: 9999px !important;
  transition: all 0.7s ease-in-out;
  font-weight: 400 !important;
  overflow: hidden;
}
.mbr-section-btn .btn .mbr-iconfont,
.mbr-section-btn-main .btn .mbr-iconfont {
  width: 70px;
  height: 70px;
  min-width: 70px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #e01b24;
  border-radius: 100%;
  color: #000509 !important;
  margin-right: -18px;
  margin-left: 12rem;
}
@media (max-width: 768px) {
  .mbr-section-btn .btn .mbr-iconfont,
  .mbr-section-btn-main .btn .mbr-iconfont {
    margin-left: 2rem;
  }
}
.mbr-section-btn .btn:hover,
.mbr-section-btn-main .btn:hover,
.mbr-section-btn .btn:focus,
.mbr-section-btn-main .btn:focus {
  box-shadow: inset -600px 0 0 #e01b24;
}
.mbr-section-btn .btn-primary .mbr-iconfont,
.mbr-section-btn-main .btn-primary .mbr-iconfont {
  background-color: #000509;
  color: #ffffff !important;
}
.mbr-section-btn .btn-primary:hover,
.mbr-section-btn-main .btn-primary:hover,
.mbr-section-btn .btn-primary:focus,
.mbr-section-btn-main .btn-primary:focus {
  color: #ffffff !important;
  box-shadow: inset -600px 0 0 #000509;
}
.mbr-section-btn .btn-secondary:hover,
.mbr-section-btn-main .btn-secondary:hover,
.mbr-section-btn .btn-secondary:focus,
.mbr-section-btn-main .btn-secondary:focus {
  color: #000509 !important;
}
.mbr-section-btn .btn-info,
.mbr-section-btn-main .btn-info {
  color: #000509 !important;
}
.mbr-section-btn .btn-info:hover,
.mbr-section-btn-main .btn-info:hover,
.mbr-section-btn .btn-info:focus,
.mbr-section-btn-main .btn-info:focus {
  color: #000509 !important;
}
.mbr-section-btn .btn-primary,
.mbr-section-btn-main .btn-primary,
.mbr-section-btn .btn-secondary,
.mbr-section-btn-main .btn-secondary,
.mbr-section-btn .btn-success,
.mbr-section-btn-main .btn-success,
.mbr-section-btn .btn-info,
.mbr-section-btn-main .btn-info,
.mbr-section-btn .btn-warning,
.mbr-section-btn-main .btn-warning,
.mbr-section-btn .btn-danger,
.mbr-section-btn-main .btn-danger,
.mbr-section-btn .btn-black,
.mbr-section-btn-main .btn-black,
.mbr-section-btn .btn-white,
.mbr-section-btn-main .btn-white {
  border: none !important;
}
.cid-tYpQEBsXBC {
  background-color: transparent;
  z-index: 1000;
  width: 100%;
}
.cid-tYpQEBsXBC .navbar-dropdown {
  background: rgba(0, 0, 0, 0.2) !important;
  padding: 0;
}
.cid-tYpQEBsXBC .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: rgba(0, 0, 0, 0.2) !important;
  background: #000000;
}
.cid-tYpQEBsXBC .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-tYpQEBsXBC .menu_box {
  flex-wrap: nowrap;
}
@media (max-width: 991px) {
  .cid-tYpQEBsXBC .menu_box {
    flex-direction: column;
    align-items: flex-start;
  }
  .cid-tYpQEBsXBC .menu_box .navbar.opened,
  .cid-tYpQEBsXBC .menu_box .navbar-collapse {
    background-color: #000000 !important;
    transition: all 0s ease 0s;
  }
}
.cid-tYpQEBsXBC nav.navbar {
  position: fixed;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.cid-tYpQEBsXBC .icons-menu-main {
  display: flex;
  flex-wrap: wrap;
  min-width: 150px;
  margin-left: 24px;
}
@media (max-width: 991px) {
  .cid-tYpQEBsXBC .icons-menu-main {
    min-width: auto;
    max-width: 100%;
    margin: 1rem 0 1rem 1rem;
  }
}
@media (max-width: 991px) {
  .cid-tYpQEBsXBC .mbr-section-btn-main {
    margin-top: 1rem;
  }
}
.cid-tYpQEBsXBC .btn {
  min-height: auto;
  box-shadow: none;
  margin-top: 0;
}
.cid-tYpQEBsXBC .btn:hover {
  box-shadow: none;
}
@media (min-width: 992px) {
  .cid-tYpQEBsXBC .offcanvas {
    padding: 12rem 64px 0;
    width: 35%;
    background-color: #ffffff;
  }
  .cid-tYpQEBsXBC .offcanvas_image img {
    width: auto;
    object-fit: cover;
    display: inline-block;
  }
  .cid-tYpQEBsXBC .offcanvas-header {
    position: relative;
    padding: 0;
  }
  .cid-tYpQEBsXBC .offcanvas-header .btn-close {
    position: absolute;
    top: -70px;
    right: 0;
    width: 35px;
    height: 30px;
  }
  .cid-tYpQEBsXBC .offcanvas-body {
    text-align: center;
    padding: 0;
  }
  .cid-tYpQEBsXBC .offcanvas-body .mbr-text,
  .cid-tYpQEBsXBC .offcanvas-body .mbr-section-subtitle {
    margin-bottom: 32px;
  }
  .cid-tYpQEBsXBC .offcanvas-body .offcanvas_contact {
    margin: 0;
  }
  .cid-tYpQEBsXBC .offcanvas_box button.btn_offcanvas {
    outline: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all 0.2s;
    position: relative;
    align-self: center;
  }
  .cid-tYpQEBsXBC .offcanvas_box button.btn_offcanvas .hamburger span {
    position: absolute;
    right: 0;
    width: 40px;
    height: 2px;
    border-right: 5px;
    background-color: #000000;
  }
  .cid-tYpQEBsXBC .offcanvas_box button.btn_offcanvas .hamburger span:nth-child(1) {
    top: 18px;
    transition: all 0.2s;
  }
  .cid-tYpQEBsXBC .offcanvas_box button.btn_offcanvas .hamburger span:nth-child(2) {
    top: 25px;
    transition: all 0.2s;
  }
  .cid-tYpQEBsXBC .offcanvas_box button.btn_offcanvas:hover .hamburger span {
    width: 36px;
  }
  .cid-tYpQEBsXBC .offcanvas_box button.btn_offcanvas:hover .hamburger span:nth-child(2) {
    width: 33px;
    transition-delay: 0.2s;
  }
  .cid-tYpQEBsXBC ul.navbar-nav {
    padding-bottom: 1.5rem;
  }
  .cid-tYpQEBsXBC .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]::after,
  .cid-tYpQEBsXBC .link.dropdown-toggle::after {
    display: inline-block;
    width: 7px;
    height: 7px;
    margin-left: .5rem;
    margin-bottom: 2px;
    content: "";
    border: 2px solid;
    border-left: none;
    border-top: none;
    transform: rotate(-45deg);
  }
  .cid-tYpQEBsXBC .link.dropdown-toggle::after {
    padding: 0 !important;
    transform: rotate(45deg);
  }
  .cid-tYpQEBsXBC li.nav-item {
    position: relative;
    display: inline-block;
    padding: 0 !important;
    vertical-align: middle;
    line-height: 2em !important;
    font-weight: 600 !important;
    text-decoration: none;
    letter-spacing: 0 !important;
    z-index: 1;
  }
  .cid-tYpQEBsXBC .lg_brand {
    margin: 0 1rem;
  }
  .cid-tYpQEBsXBC .navbar-nav.nav-dropdown {
    display: -webkit-flex;
    width: 100%;
    justify-content: flex-start;
    min-width: 200px;
    margin-left: 5%;
  }
}
.cid-tYpQEBsXBC .nav-item {
  margin: 4px 15px;
}
@media (min-width: 1200px) {
  .cid-tYpQEBsXBC .nav-item {
    margin: 4px 20px;
  }
}
@media (max-width: 991px) {
  .cid-tYpQEBsXBC .nav-item {
    margin: 0 !important;
  }
}
.cid-tYpQEBsXBC .nav-item .nav-link {
  transition: all 0.5s ease-out;
  border-radius: .5rem !important;
  position: relative;
}
.cid-tYpQEBsXBC .nav-item .nav-link::before {
  content: '';
  position: absolute;
  bottom: 2px;
  left: 0;
  background-color: #000000;
  height: 2px;
  width: 0;
  transition: all 0.3s ease-in-out;
}
.cid-tYpQEBsXBC .nav-item .nav-link:hover::before,
.cid-tYpQEBsXBC .nav-item .nav-link:focus::before {
  width: 100%;
}
.cid-tYpQEBsXBC .dropdown-menu {
  border-radius: 0;
  box-shadow: none;
  text-align: left;
}
@media (min-width: 992px) {
  .cid-tYpQEBsXBC .dropdown-menu {
    padding: 18px 34px 22px;
    min-width: 250px;
    top: auto !important;
    left: -40px !important;
  }
  .cid-tYpQEBsXBC .dropdown-menu.dropdown-submenu {
    left: 215px !important;
    top: -45% !important;
  }
}
@media (max-width: 991px) {
  .cid-tYpQEBsXBC .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]::after,
  .cid-tYpQEBsXBC .link.dropdown-toggle::after {
    display: inline-block;
    width: 7px;
    height: 7px;
    margin-left: .5rem;
    margin-bottom: 2px;
    content: "";
    border: 2px solid;
    border-left: none;
    border-top: none;
    transform: rotate(-45deg);
    right: 15px;
    position: absolute;
    margin-top: -2px;
  }
  .cid-tYpQEBsXBC .show.dropdown-toggle[aria-expanded="true"]::after {
    transform: rotate(45deg);
    margin-top: -4px;
  }
  .cid-tYpQEBsXBC .offcanvas_box {
    display: none;
  }
}
.cid-tYpQEBsXBC .dropdown-item {
  border: none;
  font-weight: 300 !important;
}
.cid-tYpQEBsXBC .nav-dropdown .link {
  font-weight: 400 !important;
  padding: 0 !important;
  margin: 0 !important;
}
.cid-tYpQEBsXBC .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0;
}
.cid-tYpQEBsXBC .container {
  display: flex;
  margin: auto;
}
.cid-tYpQEBsXBC .iconfont-wrapper {
  color: #000000;
  font-size: 17px;
  margin-right: 10px;
  margin-bottom: 5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}
.cid-tYpQEBsXBC .iconfont-wrapper:last-child {
  margin-right: 0;
}
.cid-tYpQEBsXBC .iconfont-wrapper:hover {
  opacity: .5;
}
.cid-tYpQEBsXBC .navbar-nav {
  margin: 0 1rem;
}
@media (min-width: 992px) {
  .cid-tYpQEBsXBC .navbar-nav {
    margin: 0;
  }
}
.cid-tYpQEBsXBC .dropdown-menu,
.cid-tYpQEBsXBC .navbar.opened {
  background-color: true !important;
}
.cid-tYpQEBsXBC .nav-item:focus,
.cid-tYpQEBsXBC .nav-link:focus {
  outline: none;
}
.cid-tYpQEBsXBC .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-tYpQEBsXBC .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-tYpQEBsXBC .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-tYpQEBsXBC .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tYpQEBsXBC .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-tYpQEBsXBC .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-tYpQEBsXBC .navbar {
  min-height: 70px;
  padding: 10px 0;
  transition: all 0.3s;
  border-bottom-width: 0;
}
@media (max-width: 992px) {
  .cid-tYpQEBsXBC .navbar {
    min-height: 30px;
    max-height: none;
  }
}
.cid-tYpQEBsXBC .navbar.opened {
  transition: all 0.3s;
}
.cid-tYpQEBsXBC .navbar .dropdown-item {
  padding: 0;
  margin: 8px 0;
}
.cid-tYpQEBsXBC .navbar .navbar-logo img {
  object-fit: contain;
  border-radius: 10px !important;
}
.cid-tYpQEBsXBC .navbar .navbar-collapse {
  justify-content: center;
  justify-content: flex-end;
  justify-content: space-between;
  z-index: 1;
}
.cid-tYpQEBsXBC .navbar.collapsed {
  justify-content: center;
}
.cid-tYpQEBsXBC .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-tYpQEBsXBC .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-tYpQEBsXBC .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-tYpQEBsXBC .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-tYpQEBsXBC .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-tYpQEBsXBC .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: left;
}
.cid-tYpQEBsXBC .navbar.collapsed .icons-menu {
  padding: 0;
}
@media (max-width: 991px) {
  .cid-tYpQEBsXBC .navbar .nav-item {
    padding: .5rem 0;
  }
  .cid-tYpQEBsXBC .navbar .navbar-collapse {
    padding: 34px 0;
    border-radius: 16px;
    width: 100%;
  }
  .cid-tYpQEBsXBC .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-tYpQEBsXBC .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-tYpQEBsXBC .navbar .dropdown-menu {
    padding: 6px 0 6px 15px;
  }
  .cid-tYpQEBsXBC .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-tYpQEBsXBC .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
    margin-top: -0.4rem;
  }
  .cid-tYpQEBsXBC .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-tYpQEBsXBC .navbar ul.navbar-nav {
    overflow: hidden;
  }
  .cid-tYpQEBsXBC .navbar ul.navbar-nav li {
    margin: 0;
  }
  .cid-tYpQEBsXBC .navbar .dropdown-menu .dropdown-item {
    padding: 0 !important;
    margin: 0;
    margin-top: 8px;
    text-align: left;
  }
  .cid-tYpQEBsXBC .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 0;
    width: 100%;
    justify-content: space-between;
  }
  .cid-tYpQEBsXBC .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-tYpQEBsXBC .navbar .icons-menu {
    padding: 0;
  }
}
.cid-tYpQEBsXBC .navbar.navbar-short {
  min-height: 60px;
}
.cid-tYpQEBsXBC .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-tYpQEBsXBC .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-tYpQEBsXBC .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-tYpQEBsXBC .navbar-brand .navbar-caption {
  line-height: inherit !important;
  font-weight: 700;
}
.cid-tYpQEBsXBC .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-tYpQEBsXBC .dropdown-item.active,
.cid-tYpQEBsXBC .dropdown-item:active {
  background-color: transparent;
}
.cid-tYpQEBsXBC .navbar-expand-lg .navbar-nav .nav-link {
  margin: 8px 12px !important;
}
.cid-tYpQEBsXBC .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-tYpQEBsXBC .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-tYpQEBsXBC .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-tYpQEBsXBC ul.navbar-nav {
  flex-wrap: wrap;
  padding: 0;
}
.cid-tYpQEBsXBC .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-tYpQEBsXBC button.navbar-toggler {
  outline: none;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
  color: #000000;
  background: #fff555;
}
.cid-tYpQEBsXBC button.navbar-toggler .hamburger span {
  position: absolute;
  right: 10px;
  margin-top: 14px;
  width: 26px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-tYpQEBsXBC button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-tYpQEBsXBC button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tYpQEBsXBC button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tYpQEBsXBC button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-tYpQEBsXBC nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tYpQEBsXBC nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-tYpQEBsXBC nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-tYpQEBsXBC nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tYpQEBsXBC a.nav-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.cid-tYpQEBsXBC .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding: 0;
  text-align: center;
  margin-bottom: 35px;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-tYpQEBsXBC .navbar {
    height: 70px;
  }
  .cid-tYpQEBsXBC .navbar.opened {
    height: auto;
  }
  .cid-tYpQEBsXBC .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-tYpQEBsXBC .navbar-dropdown .navbar-logo {
  margin-right: 10px;
}
@media (min-width: 768px) {
  .cid-tYpQEBsXBC .container-fluid {
    padding-left: 48px;
    padding-right: 48px;
  }
}
.cid-tYpQEBsXBC .mbr-section-btn-main {
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 992px) {
  .cid-tYpQEBsXBC .mbr-section-btn-main {
    display: block;
    padding: 0;
  }
}
.cid-tYpQEBsXBC .mbr-section-btn-main .btn {
  min-width: 160px;
}
.cid-tYpQEBsXBC .navbar-caption:hover {
  color: #e01b24;
}
@media (min-width: 992px) {
  .cid-tYpQEBsXBC .dropdown-menu.dropdown-submenu {
    left: 175px !important;
    top: -45% !important;
  }
}
.cid-tYpQEBsXBC .text_widget {
  margin-bottom: 32px;
}
.cid-tYpQEBsXBC .text_widget a {
  transition: all 0.3s ease-out;
}
.cid-tYpQEBsXBC .text_widget a:hover,
.cid-tYpQEBsXBC .text_widget a:focus {
  opacity: .8;
}
.cid-tYpQEBsXBC .navbar.navbar-dropdown::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: #e01b24;
}
.cid-tYpQEBsXBC .mbr-section-subtitle {
  color: #000000;
  text-align: center;
}
.cid-tYpQEBsXBC .navbar-caption {
  color: #000000;
}
.cid-tYpQEBsXBC .mbr-text {
  color: #9a9a9a;
  text-align: center;
}
.cid-tYpQEBsXBC .mbr-section-subtitle,
.cid-tYpQEBsXBC .text_widget,
.cid-tYpQEBsXBC .mbr-section-btn {
  text-align: center;
}
.cid-tYpQEBsXBC a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  background-image: none;
}
.cid-uLlxRqn0as {
  background-image: url("../../../assets/images/chatgpt-image-may-16-2025-05-56-19-pm-1536x1024.png");
}
.cid-uLlxRqn0as .mbr-fallback-image.disabled {
  display: none;
}
.cid-uLlxRqn0as .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uLlxRqn0as .content-wrapper {
  position: relative;
  z-index: 2;
  margin-top: 260px;
}
@media (max-width: 992px) {
  .cid-uLlxRqn0as .content-wrapper {
    margin-top: 0;
  }
}
.cid-uLlxRqn0as .content-wrapper .mbr-section-title {
  margin-bottom: 22px;
  background-image: linear-gradient(180deg, #e01b24, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.cid-uLlxRqn0as .content-wrapper .mbr-text {
  margin-bottom: 22px;
}
.cid-uLlxRqn0as .mbr-section-title {
  color: #ffffff;
}
.cid-uLlxRqn0as .mbr-text {
  color: #ffffff;
}
.cid-tYpR8ePKCl {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #000509;
}
.cid-tYpR8ePKCl .mbr-fallback-image.disabled {
  display: none;
}
.cid-tYpR8ePKCl .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tYpR8ePKCl .container-fluid {
  padding: 0 70px;
}
@media (max-width: 1440px) {
  .cid-tYpR8ePKCl .container-fluid {
    padding: 0 48px;
  }
}
@media (max-width: 992px) {
  .cid-tYpR8ePKCl .container-fluid {
    padding: 0 20px;
  }
}
@media (max-width: 992px) {
  .cid-tYpR8ePKCl .container {
    padding: 0 20px;
  }
}
.cid-tYpR8ePKCl .card {
  justify-content: flex-end;
}
.cid-tYpR8ePKCl .title-wrapper .mbr-section-title {
  margin-bottom: 90px;
}
@media (max-width: 992px) {
  .cid-tYpR8ePKCl .title-wrapper .mbr-section-title {
    margin-bottom: 40px;
  }
}
.cid-tYpR8ePKCl .link-wrapper {
  display: block;
  margin-bottom: 90px;
}
@media (max-width: 992px) {
  .cid-tYpR8ePKCl .link-wrapper {
    margin-bottom: 40px;
    text-align: left;
  }
}
.cid-tYpR8ePKCl .link-wrapper:hover .mbr-link::before,
.cid-tYpR8ePKCl .link-wrapper:focus .mbr-link::before {
  width: 0;
}
.cid-tYpR8ePKCl .link-wrapper .mbr-link {
  display: inline-flex;
  position: relative;
  margin-bottom: 0;
}
.cid-tYpR8ePKCl .link-wrapper .mbr-link:before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: #000408;
  transition: all 0.3s ease-in-out;
}
.cid-tYpR8ePKCl .items-wrapper .item {
  border-top: 1px solid #dfe6ea;
  padding: 40px 0;
}
.cid-tYpR8ePKCl .items-wrapper .item:last-child {
  border-bottom: 1px solid #dfe6ea;
}
.cid-tYpR8ePKCl .items-wrapper .item .item-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 992px) {
  .cid-tYpR8ePKCl .items-wrapper .item .item-wrapper {
    display: block;
  }
}
.cid-tYpR8ePKCl .items-wrapper .item .item-wrapper .item-img {
  width: 210px;
}
@media (max-width: 992px) {
  .cid-tYpR8ePKCl .items-wrapper .item .item-wrapper .item-img {
    width: 100%;
    margin-bottom: 30px;
  }
}
.cid-tYpR8ePKCl .items-wrapper .item .item-wrapper .item-img img {
  display: inline-flex;
  width: 210px;
  height: 150px;
  border-radius: .75rem !important;
  object-fit: cover;
}
.cid-tYpR8ePKCl .items-wrapper .item .item-wrapper .item-content {
  width: 65%;
  display: flex;
  padding-right: 64px;
}
@media (max-width: 992px) {
  .cid-tYpR8ePKCl .items-wrapper .item .item-wrapper .item-content {
    width: 100%;
    display: block;
    padding-right: 0;
  }
}
.cid-tYpR8ePKCl .items-wrapper .item .item-wrapper .item-content .card-number {
  min-width: 100px;
  margin-bottom: 0;
}
@media (max-width: 992px) {
  .cid-tYpR8ePKCl .items-wrapper .item .item-wrapper .item-content .card-number {
    min-width: auto;
    margin-bottom: 16px;
  }
}
.cid-tYpR8ePKCl .items-wrapper .item .item-wrapper .item-content .item-wrap .card-title {
  margin-bottom: 0;
}
.cid-tYpR8ePKCl .items-wrapper .item .item-wrapper .item-content .item-wrap .card-text {
  margin: 24px 0 0 0;
}
.cid-tYpR8ePKCl .mbr-section-title {
  color: #ffffff;
  text-align: left;
}
.cid-tYpR8ePKCl .mbr-link,
.cid-tYpR8ePKCl .link-wrapper {
  color: #000000;
  text-align: right;
}
.cid-tYpR8ePKCl .card-title {
  color: #000000;
}
.cid-tYpR8ePKCl .card-text {
  color: #9a9a9a;
}
.cid-tYpR8ePKCl .card-number {
  color: #000000;
}
.cid-tYpR8ePKCl .card-title,
.cid-tYpR8ePKCl .item-img {
  color: #ffffff;
}
.cid-tYpRhPpa7b {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #000408;
}
.cid-tYpRhPpa7b .mbr-fallback-image.disabled {
  display: none;
}
.cid-tYpRhPpa7b .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tYpRhPpa7b .container-fluid {
  padding: 0 70px;
}
@media (max-width: 1440px) {
  .cid-tYpRhPpa7b .container-fluid {
    padding: 0 48px;
  }
}
@media (max-width: 992px) {
  .cid-tYpRhPpa7b .container-fluid {
    padding: 0 20px;
  }
}
@media (max-width: 992px) {
  .cid-tYpRhPpa7b .container {
    padding: 0 20px;
  }
}
.cid-tYpRhPpa7b .row {
  justify-content: center;
}
.cid-tYpRhPpa7b .border-wrap {
  width: 100%;
  height: 1px;
  background-color: #dfe6ea;
  margin-bottom: 90px;
}
@media (max-width: 992px) {
  .cid-tYpRhPpa7b .border-wrap {
    margin-bottom: 40px;
  }
}
.cid-tYpRhPpa7b .text-wrapper {
  margin-bottom: 136px;
}
@media (max-width: 992px) {
  .cid-tYpRhPpa7b .text-wrapper {
    margin-bottom: 30px;
  }
}
.cid-tYpRhPpa7b .text-wrapper .text-wrap .mbr-text {
  width: 50%;
  display: inline-flex;
  margin-bottom: 40px;
}
@media (max-width: 1200px) {
  .cid-tYpRhPpa7b .text-wrapper .text-wrap .mbr-text {
    width: 80%;
  }
}
@media (max-width: 992px) {
  .cid-tYpRhPpa7b .text-wrapper .text-wrap .mbr-text {
    width: 100%;
    margin-bottom: 24px;
  }
}
.cid-tYpRhPpa7b .nav-wrapper {
  margin-bottom: 136px;
}
@media (max-width: 992px) {
  .cid-tYpRhPpa7b .nav-wrapper {
    margin-bottom: 30px;
  }
}
.cid-tYpRhPpa7b .nav-wrapper .mbr-list-title {
  margin-bottom: 24px;
}
.cid-tYpRhPpa7b .nav-wrapper .list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.cid-tYpRhPpa7b .nav-wrapper .list .item-wrap {
  margin-bottom: 8px;
  transition: all 0.3s ease-in-out;
}
.cid-tYpRhPpa7b .nav-wrapper .list .item-wrap:hover,
.cid-tYpRhPpa7b .nav-wrapper .list .item-wrap:focus {
  color: #ffffff;
}
.cid-tYpRhPpa7b .mbr-copy {
  margin-bottom: 0;
  color: #e01b24;
  text-align: center;
}
.cid-tYpRhPpa7b .mbr-text {
  color: #000000;
}
.cid-tYpRhPpa7b .mbr-list-title {
  color: #000000;
}
.cid-tYpRhPpa7b .list {
  color: #9a9a9a;
}
